@import url('https://use.typekit.net/euv6ldb.css');
$font-family__functional: 'ff-real-headline-pro', sans-serif;
$font-family__inspirational: 'le-monde-livre-std', serif;

$colors__black-sbt: #011414;
$colors__deep-green: #063f3e;
$colors__jungle-green: #1d9999;
$colors__gold-yellow: #bf8e4c;
$colors__lemonade-yellow: #ffc519;
$colors__white-sbt: #fcfcfa;
$colors__pale-grey: #ebf0f0;
$colors__opal-green: #cfe6e6;
$colors__linen: #f5f1e6;
